# Google Cloud Configurations
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
GOOGLE_CLOUD_LOCATION=us-east1
GOOGLE_GENAI_USE_VERTEXAI=True

# Model Configurations
MODEL_NAME=gemini-2.5-flash

# Observability and Storage
LOGS_BUCKET_NAME=your-gcs-logs-bucket
ALLOW_ORIGINS=*
